.hm-plugins--plugin {
  flex: 1;
  width: 33%;
  min-width: 280px;
  max-width: calc(33.333333% - 20px);
  border: 1px solid darken( $color-white, 10% );
  background: $color-white;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 250px;

  h3 {
    flex: 0;
    margin: 0;
    position: relative;
    padding-right: 30px;
    svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.hm-plugins--plugin__status {
  margin-top: .5em;
  flex: 0;

  &:before {
    content: '';
    width: 8px;
    height: 8px;
    line-height: 0;
    display: inline-block;
    background: $hm-medium-grey;
    border-radius: 100px;
    margin-right: 5px;
    vertical-align: baseline;
  }

  &.status-on:before {
    background: #7cd121;
  }
}

.hm-plugins--plugin__description {
  flex: 1;
}

.hm-plugins--plugin__guides {
  list-style: none;
  flex: 0;
  margin-bottom: 0;

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    color: $hm-red;
  }

  li + li:before {
    content: "\00B7";
    margin: 0 10px;
  }
}
