/**
 * Announcements.
 */

#announcements-block .postbox {
	border: 4px solid #0073aa;
}

#dashboard-widgets h3.announcement-bloc__title {
	font-size: 1.5rem;
	line-height: 1.3;
}

#announcements-block .button-primary {
	height: 34px;
	font-size: 16px;
	line-height: 32px;
	padding: 0 14px 2px;
	margin: 10px 0;
}
