.deploy-item {
	list-style: none;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	margin-bottom: 0;

	&__title {
		min-height: 40px;
	}

	&__meta {
		margin-top: 0;
		margin-bottom: 0;
		color: #737373;
		margin-left: -50px;

		> * {
			vertical-align: middle;
		}
	}

	&__avatar {
		width: 40px;
		height: auto;
		position: absolute;
		top: 10px;
		left: 0;
	}
}
