.deploy-item {
	list-style: none;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	margin-bottom: 0;

	&__title {
		margin-bottom: 4px !important;
	}

	&__meta {
		margin-top: 0;
		margin-bottom: 0;
		color: #737373;

		> * {
			vertical-align: middle;
		}
	}

	&__avatar {
		width: 40px;
		height: auto;
		position: absolute;
		top: 10px;
		left: 0;
		border-radius: 100px;
		box-shadow: inset 0 0 4px rgba(0,0,0,1);
	}
}
