/**
 * HM Cloud Pull Requests Pane.
 */
.pull-request-item {
	list-style-type: none;
	margin: 15px;
}

#dashboard-widgets h3.pull-request-item__title {
	margin: 0 0 3px;
	font-size: 13px;
}

.pull-request-item__meta {
	color: #737373;
}
