//@import "../../hm-pattern-library/assets/sass/juniper";
:root {
  --yellow: #fffae2;
  --orangey-brown: #ad5400;
  --ocean-blue: #00739a;
  --dark-grey: #353535;
  --alert-red: #ff001f; // stats down
  --hm-red: #d24632; // dropdown arrows/comments/buttons
  --med-blue: #009ace; // stats border
  --good-green: #458500; // labels
  --cool-grey: #767676; // byline
  --superlight-grey: #e1e1e1; // border
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import "./Widget";
@import "./SiteStats";
@import "./SupportRequests";
@import "./Posts";

.dashboard {
  padding-top: 2em;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.full-width {
  grid-area: auto / span 12;
  width: 100%;
}

.two-thirds {
  grid-area: auto / span 8;
  width: 100%;
}

.one-third {
  grid-area: auto / span 4;
  width: 100%;
}

.one-half {
  grid-area: auto / span 6;
  width: 100%;
}