:root {
  --hm-platform-ui-yellow: #fffae2;
  --hm-platform-ui-orangey-brown: #ad5400;
  --hm-platform-ui-ocean-blue: #00739a;
  --hm-platform-ui-dark-grey: #353535;
  --hm-platform-ui-alert-red: #ff001f; // stats down
  --hm-platform-ui-hm-red: #d24632; // dropdown arrows/comments/buttons
  --hm-platform-ui-med-blue: #009ace; // stats border
  --hm-platform-ui-good-green: #458500; // labels
  --hm-platform-ui-cool-grey: #767676; // byline
  --hm-platform-ui-superlight-grey: #e1e1e1; // border
}

@import "./Widget";
@import "./SiteStats";
@import "./SupportRequests";
@import "./Posts";

.hm-platform-ui__Dashboard {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  padding-top: 2em;
  max-width: 1024px;
  margin: 0 auto;

  @media screen and (min-width: 1024px){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
  }
}
