.widget--posts {
  .post {

    &__info__meta {
      margin: 0.5em 0;
      color: var(--hm-platform-ui-cool-grey);
      font-size: 13px;
    }

    &__views {
      color: var(--hm-platform-ui-dark-grey);

      &__count svg {
        margin: -4px 0;
      }
    }

    &__comments {
      color: var(--hm-platform-ui-dark-grey);

      &__approved svg {
        margin: -4px 0;
      }

      &__pending {
        sup {
          background-color: var(--hm-platform-ui-hm-red);
          color: white;
          padding: 1px 3px;
          border-radius: 2px;
          font-size: 10px;
        }
      }
    }

    &__actions {
      a {
        text-decoration: none;
        text-transform: capitalize;
      }

      .danger {
        color: var(--hm-platform-ui-alert-red);
      }
    }
  }
}
