.widget {
  &--site-stats {
    .react-tabs {
      &__tab-list {
        display: grid;
        grid-template-columns: repeat( 4, 1fr );
      }

      &__tab {
        display: block;
        cursor: pointer;
        padding: 1.5em;
        border: 1px solid grey;
        margin: 0 .5em;

        span {
          text-align: center;
          display: block;
          margin: .5em 0;
        }

        &__data {
          font-size: 2em;
        }

        &__label {
          color: grey;
          text-transform: uppercase;
        }
      }
    }
  }

  // tabs
  [aria-selected="true"] {
    border: 2px solid royalblue;
  }
}