// Platform admin theme.
$text-color: #eff1ef;
$base-color: #353535;
$highlight-color: #d94e3a;
$notification-color: #504c4c;

$body-background: #eff1ef;

$link: #d94e3a;

$menu-submenu-text: mix($base-color, $text-color, 10%);

$menu-submenu-focus-text: #7dc9da;
$menu-submenu-current-text: #7dc9da;

$button-color: $highlight-color;
$form-checked: $base-color;

@import "../../../../../wordpress/wp-admin/css/colors/_admin.scss";

#wpwrap .wrap {
  .add-new-h2,
  .add-new-h2:active,
  .page-title-action,
  .page-title-action:active {
    color: $link;
    border-color: darken( $text-color, 20% );
  }
  .add-new-h2:hover,
  .page-title-action:hover {
  }
  .add-new-h2:hover,
  .page-title-action:hover,
  .tablenav .tablenav-pages a:hover,
  .tablenav .tablenav-pages a:focus {
    color: $text-color;
    background-color: $link;
    border-color: darken( $link, 20% );
  }
}
