$images-path: "./hm-pattern-library/assets/images";

@import "./hm-pattern-library/assets/sass/brand-colors";
@import "./hm-pattern-library/assets/sass/variables";
@import "./hm-pattern-library/assets/sass/base/typography-mixins";
@import "./hm-pattern-library/assets/sass/utilities/icons";
@import "./hm-pattern-library/assets/sass/components/loading";
@import "./hm-pattern-library/assets/sass/components/buttons";

// Top level components.
@import "./scss/Header";
@import "./scss/Menu";
@import "./scss/Dismissable";
// Cloud.
@import "./scss/Cloud/Alerts-Log";
@import "./scss/Cloud/Announcements";
@import "./scss/Cloud/Pull-Requests";
@import "./scss/Cloud/Environment-Data";
@import "./scss/Cloud/Points-Of-Contact";
// Enterprise Kit.
@import "./scss/EnterpriseKit/Plugins";
@import "./scss/EnterpriseKit/Plugin";

// Dashboard
@import "./scss/Dashboard/Dashboard";

// Hide update & admin notices, we'll move those elsewhere in the UI to avoid the fugly.
.toplevel_page_hm-platform #wpbody-content {
  > .update-nag,
  > .notice {
    display: none;
  }
}

.hm-logo-small {
  max-width:      24px;
  width:          auto;
  vertical-align: text-bottom;
  height:         auto;
  display:        inline-block;
}

.hm-platform-modal {

  .hm-iframe-close {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 9992;
  }

  iframe {
    position: fixed;
    z-index: 9991;
    top: 0;
    left: 160px;
    right: 0;
    bottom: 0;
    background: #fff;
    width: calc(100% - 160px);
    transition: top .3s linear, opacity .3s linear;
  }

  .hm-iframe-loading {
    opacity: 0;
    top: 200px;
  }

  .hm-iframe-loaded {
    opacity: 1;
  }

}

// @todo find a way to make the iframe fill the page & increase height via postMessage if admin is shorter
.toplevel_page_hm-platform {
  .hm-platform-modal iframe {
    //top: 106px;
  }
}

.hm-platform-full-embed {
  background: #fff;
  position: fixed;
  z-index: 9991;
  top: 0;
  right: 0;
  bottom: 0;
  left: 160px;
  width: calc(100% - 160px);
  height: 100%;
}

// We have a close button in the docs site template so hide the one we add.
.hm-iframe-close {
  display: none;
}
