.hm-dismissable {
  background: #fff;
  border: 1px solid darken( #fff, 15% );
  margin: 20px 20px 20px 0;
  padding: .5em 20px;
  position: relative;

  .notice-dismiss {
    color: $hm-red;
    top: 10px;
    right: 10px;

    &::before {
      display: inline-block;
      margin-right: 2px;
      margin-bottom: .2em;
      vertical-align: middle;
    }
  }
}

.hm-dismissable--content {
  font-size: 120%;
  color: lighten( $hm-dark-grey, 20% );

  p {
    font-size: 1em;
  }

  > * {
    max-width: 46em;
  }
}

